{% extends "layout.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="row">
    <div class="d-flex align-items-center justify-content-between">
        <h2 class="subtitle mb-4">Markets</h6>
    </div>
    {% if reservation_list %}
        <div class="row">
            {% for reservation in reservation_list%}
                <div class="col-lg-4 my-3">
                    <a class="harvestly-card-link" href="{% url 'product-details' reservation.product.id %}">
                        <div class="card">
                            <div class="harvestly-product-card-img-container">
                                <!-- Render image thumbnail -->
                                {% include "_product_thumbnail.html" with product=reservation.product %}
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ reservation.product.name|title }}</h3>
                                <div class="d-flex justify-content-between">
                                    <h5>${{ reservation.product.price|floatformat:"2" }}</h5>
                                    <h5>&times;{{ reservation.quantity }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h1>You have no reservations...</h1>
            <a class="harvestly-nav-link mt-4" href="{% url 'products' %}">View all available products</a>
        </div>
    {% endif %}
</div>


{% endblock %}