{% extends "layout.html" %}
{% block title %}Harvestly{% endblock %}

{% block content %}
<div id="main">
    <div id="title">
        <h1 style="text-align: center;"> Harvestly </h1>
    </div>
    <div id="content">
        <div style="text-align: center;"class="flex"id="description">
            <p>Bringing the farm to your home.</p>
        </div>
        <div style="text-align: center;" id="image">
            <img alt="Placeholder for image.">
        </div>
    </div>
</div>
{% endblock %}