{% extends "layout.html" %}
{% block title %}Harvestly{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col align-self-center">
            <h1 class="title">Harvestly</h1>
            <h3 class="subtitle">Bringing the farm to your home.</h3>
        </div>
        <div class="col align-self-center text-center justify-content-center">
            {% load static %}
            <img src="{% static 'img/home.jpg' %}" class="splash-pic" alt="Home">
        </div>
    </div>
</div>
{% endblock %}