{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}

{% block content %}
<div>
    <h3 class="subtitle">Edit Product Details</h3>
    <form method="post">
        {% csrf_token %}
        <div class="row mt-4 mb-5">
            <div class="col-md-6 mb-1">
                <!-- TODO make image updateable -->
                {% load static %}
                {% if product.image %}
                    <img 
                        src="{{ product.image.url }}" 
                        class="rounded" 
                        alt="{{ product.name }}"
                    >
                {% else %}
                    <img 
                        src="{% static 'img/product_placeholder.png' %}" 
                        class="rounded" 
                        alt="Default Image"
                    >
                {% endif %}
            </div>
            <div class="col-md-6 align-self-center">
                <div class="harvestly-form-item">
                    {{ form.name.label }}
                    {{ form.name }}
                </div>
                <div class="harvestly-form-item">
                    {{ form.description.label }}
                    {{ form.description }}
                </div>
                <div class="harvestly-form-item">
                    {{ form.price.label }}
                    {{ form.price }}
                </div>
                <div class="harvestly-form-item">
                    {{ form.quantity.label }}
                    {{ form.quantity }}
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <a
                    class="harvestly-nav-btn-secondary mx-1 py-2 d-flex justify-content-center align-items-center"
                    href="{% url 'product-details' product.id %}"
                >
                    <h4 class="m-0">Cancel</h4>
                </a>
                    <button class="harvestly-nav-btn-primary justify-content-center d-flex mx-1 py-2" type="submit">
                        <h4 class="m-0">Submit</h4>
                    </button>
                </div>
            </div>
        </div>
        <div class="justify-content-center">  </div>
    </form>
</div>
{%endblock %}
