{% extends "layout.html" %}
{% block title %}Delete {{ product.name|title }}{% endblock %}

{% load static %}
{% block content %}
<div>
    <h3 class="subtitle">{{ product.name|title }}</h3>
    <form method="post">
        {% csrf_token %}
        <div class="row mt-4 mb-5">
            <div class="col-md-6 mb-2">
                {% if product.image %}
                    <img 
                        src="{{ product.image.url }}" 
                        class="rounded" 
                        alt="{{ product.name }}"
                    >
                {% else %}
                    <img 
                        src="{% static 'img/product_placeholder.png' %}" 
                        class="rounded" 
                        alt="Default Image"
                    >
                {% endif %}
            </div>
            <div class="col-md-6 align-self-center">
                <h3>Delete {{ product.name|title }}</h3>
                <div>
                    <h5>{{ product.description }}</h5>
                </div>
                <div class="mt-5 w-100 d-flex justify-content-between">
                    <h5 class="text-muted">${{ product.price|floatformat:"2" }}</h5>
                    <h5 class="text-muted">&times;{{ product.quantity }}</h5>
                </div>
                <div class="d-flex flex-column">
                    <button class="harvestly-nav-btn-primary w-100 my-2 py-2" type="submit">
                        <h4 class="m-0">Confirm Deletion</h4>
                    </button>
                    <a
                        class="harvestly-nav-btn-secondary py-2 d-flex justify-content-center align-items-center"
                        href="{% url 'product-details' product.id %}"
                    >
                        <h4 class="m-0">Cancel</h4>
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>
{%endblock %}
