{% extends "layout.html" %}
{% block title %}Product Details{% endblock %}

{% block content %}
<div>
    <h3 class="subtitle">{{ product.name|title }}</h3>
    <div class="row mt-4 mb-5">
        <div class="col-md-6">
            <!-- TODO load image -->
            {% load static %}
            <img class="rounded" src="{% static 'img/product_placeholder.png' %}" alt="Product Image" width="100%">
        </div>
        <div class="col-md-6 align-self-center">
            <h3>{{ product.name|title }} Details</h3>
            <div>
                <h5>{{ product.description }}</h5>
            </div>
            <div class="mt-5 w-100 d-flex justify-content-between">
                <h5 class="text-muted">${{ product.price|floatformat:"2" }}</h5>
                <h5 class="text-muted">&times;{{ product.quantity }}</h5>
            </div>
        </div>
    </div>

    
    <!-- TODO if the user is NOT the owner of this product, display the vendor information and reserve options -->
    <div class="row mt-5 pt-4">
        <div class="col-md-6  mb-1 d-flex flex-column justify-content-center align-self-center">
            <a 
                href="{% url 'product-reserve' product.id %}" 
                class="harvestly-nav-btn-primary d-flex justify-content-center align-items-center mb-3 py-2"
            >
                <h4 class="m-0">Reserve this Product</h4>
            </a>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <h3>Product Vendor Information</h3>
            <h5>Coming soon.</h5>
        </div>
    </div>

    
    <!-- TODO if the user is the owner of this product, display the edit, delete options -->
    <div class="row mt-5 pt-4 justify-content-center">
        <div class="col-md-6 d-flex flex-column justify-content-center align-self-center">
            <a 
                href="{% url 'product-update' product.id %}" 
                class="harvestly-nav-btn-primary d-flex justify-content-center align-items-center mb-3 py-2"
            >
                <h4 class="m-0">Edit Product</h4>
            </a>
            <a
                href="{% url 'product-delete' product.id %}"
                class="harvestly-nav-btn-secondary  d-flex justify-content-center align-items-center py-2"
            >
                <h4 class="m-0">Delete Product</h4>
            </a>
        </div>
    </div>
</div>
{%endblock %}