{% extends "layout.html" %}
{% block title %}Products{% endblock %}
{% block content %}

<div>
  {% if product_list %}
  <h1>Our Products</h1>
  <div class="row">
    {% for product in product_list %}
    <div class="col-md-4 py-2">
      <div class="card">
        {% load static %}
        <img src="{% static 'img/product_placeholder.png' %}" alt="Product Image" class="card-img-top ">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ${{ product.price }}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    {% include "empty_list.html" with items="products" %}
  {% endif %}

</div>

{%endblock %}
