{% extends "layout.html" %}
{% block title %}{{ product.name|title }} Details{% endblock %}

{% load static %}
{% block content %}
<div>
    <h3 class="subtitle">{{ product.name|title }}</h3>
    <div class="row mt-4 mb-5">
        <div class="col-md-6">
            <!-- render product image or placeholder -->
            {% include "_product_image.html" %}
        </div>
        <div class="col-md-6 align-self-center">
            <h3>{{ product.name|title }} Details</h3>
            <div>
                <h5>{{ product.description }}</h5>
            </div>
            {% if product.product_event %}
                <a
                    class="harvestly-nav-link mt-4" 
                    href="{% url 'event-detail' product.product_event.id %}"
                >
                    <h6>Available at {{ product.product_event.name|title }}</h6>
                </a>
            {% endif %}
            <div class="mt-5 w-100 d-flex justify-content-between">
                <h5 class="text-muted">${{ product.price|floatformat:"2" }}</h5>
                <h5 class="text-muted">&times;{{ product.quantity }}</h5>
            </div>
        </div>
    </div>
    
    <div class="row mt-5 pt-4">
        <div class="col-md-6 d-flex flex-column">
            <h3>Product Vendor Information</h3>
            <h5>{{ product.owner.username|title }}</h5>

            <!-- TODO develop this as we build out user profile -->
            <p class="text-muted mt-3">More vendor information coming soon.</p>
        </div>
        <!-- If user is not logged in OR if they are not the owner -->
        {% if not user.is_authenticated or user.id != product.owner.id %}
            <div class="col-md-6  my-1 d-flex flex-column">
                <a 
                    href="{% url 'reservation-create' product.id %}" 
                    class="harvestly-nav-btn-primary d-flex justify-content-center align-items-center mb-3 py-2"
                >
                    <h4 class="m-0">Reserve this Product</h4>
                </a>
            </div>
        <!-- If the user is the owner of this product, display the edit, delete options -->
        {% else %}
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <a
                    href="{% url 'product-delete' product.id %}"
                    class="harvestly-nav-btn-danger d-flex justify-content-center align-items-center py-2 mx-1"
                >
                    <h4 class="m-0">
                        <i class="bi-exclamation-diamond-fill"></i>
                        Delete
                    </h4>
                </a>
                <a 
                    href="{% url 'product-update' product.id %}" 
                    class="harvestly-nav-btn-primary d-flex justify-content-center align-items-center py-2 mx-1"
                >
                    <h4 class="m-0">Edit</h4>
                </a>
            </div>
        {% endif %}
    </div>
{%endblock %}
