{% extends "layout.html" %}
{% block title %}{{ product.name|title }} Details{% endblock %}

{% load static %}
{% block content %}
<div>
    <h3 class="subtitle">{{ product.name|title }}</h3>
    <div class="row mt-4 mb-5">
        <div class="col-md-6">
            <!-- render product image or placeholder -->
            {% if product.image %}
            
                <img 
                    src="{{ product.image.url }}" 
                    class="rounded" 
                    alt="{{ product.name }}"
                >
            {% else %}
                <img 
                    src="{% static 'img/product_placeholder.png' %}" 
                    class="rounded" 
                    alt="Default Image"
                >
            {% endif %}
        </div>
        <div class="col-md-6 align-self-center">
            <h3>{{ product.name|title }} Details</h3>
            <div>
                <h5>{{ product.description }}</h5>
            </div>
            {% if product.product_event %}
                <a
                    class="harvestly-nav-link mt-4" 
                    href="{% url 'event-detail' product.product_event.id %}"
                >
                    <h6>Available at {{ product.product_event.name|title }}</h6>
                </a>
            {% endif %}
            <div class="mt-5 w-100 d-flex justify-content-between">
                <h5 class="text-muted">${{ product.price|floatformat:"2" }}</h5>
                <h5 class="text-muted">&times;{{ product.quantity }}</h5>
            </div>
        </div>
    </div>
    
    <div class="row mt-5 pt-4">
        <div class="col-md-6 d-flex flex-column">
            <h3>Product Vendor Information</h3>
            <h5>Coming soon.</h5>
        </div>
        <!-- Currently mocking some behavior for futher refinement: if not logged in, display the reserve-->
        {% if not user.is_authenticated %}
            <div class="col-md-6  mb-1 d-flex flex-column">
                <a 
                    href="{% url 'product-reserve' product.id %}" 
                    class="harvestly-nav-btn-primary d-flex justify-content-center align-items-center mb-3 py-2"
                >
                    <h4 class="m-0">Reserve this Product</h4>
                </a>
            </div>
        <!-- TODO if the user is the owner of this product, display the edit, delete options -->
        {% else %}
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <a
                    href="{% url 'product-delete' product.id %}"
                    class="harvestly-nav-btn-secondary d-flex justify-content-center align-items-center py-2 mx-1"
                >
                    <h4 class="m-0">Delete</h4>
                </a>
                <a 
                    href="{% url 'product-update' product.id %}" 
                    class="harvestly-nav-btn-primary d-flex justify-content-center align-items-center py-2 mx-1"
                >
                    <h4 class="m-0">Edit</h4>
                </a>
            </div>
        {% endif %}
    </div>
{%endblock %}
