{% extends "layout.html" %}
{% block title %}Add Product{% endblock %}

{% block content %}
<div>
    <h3 class="subtitle"> Add New Product </h3>
    <form method="post">
        {% csrf_token %}
        <div class="row pt-4 mb-2">
            {% for field in form %}
                {% if field.field.widget.input_type == textarea %}
                    <div class="col-12 harvestly-form-item">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% else %}
                    <div class="col-md-6 harvestly-form-item">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>        
        <input class="harvestly-nav-btn-primary" type="submit" value="Add Product" />
        <a class="harvestly-nav-btn-secondary ml-2" href="{% url 'products' %}">Cancel</a>
    </form>
</div>
{%endblock %}