{% extends "layout.html" %}
{% block title %}Delete Product{% endblock %}

{% block content %}
<div>
    <h3 class="subtitle">{{ product.name|title }}</h3>
    <form method="post">
        {% csrf_token %}
        <div class="row mt-4 mb-5">
            <div class="col-md-6">
                <!-- TODO load image -->
                {% load static %}
                <img class="rounded" src="{% static 'img/product_placeholder.png' %}" alt="Product Image" width="100%">
            </div>
            <div class="col-md-6 align-self-center">
                <h3>Delete {{ product.name|title }}</h3>
                <div>
                    <h5>{{ product.description }}</h5>
                </div>
                <div class="mt-5 w-100 d-flex justify-content-between">
                    <h5 class="text-muted">${{ product.price|floatformat:"2" }}</h5>
                    <h5 class="text-muted">&times;{{ product.quantity }}</h5>
                </div>
                <div class="d-flex flex-column">
                    {% if user.is_authenticated %}
                        <button class="harvestly-nav-btn-primary w-100 my-2 py-2" type="submit">
                            <h4 class="m-0">Confirm Deletion</h4>
                        </button>
                    {% else %}
                        <a 
                            class="harvestly-nav-btn-primary my-2 py-2 d-flex justify-content-center align-items-center"
                            href="{% url 'signup' %}"
                        >
                            <h4 class="m-0">Confirm Deletion</h4>
                        </a>
                    {% endif %}
                    <a
                        class="harvestly-nav-btn-secondary py-2 d-flex justify-content-center align-items-center"
                        href="{% url 'product-details' product.id %}"
                    >
                        <h4 class="m-0">Cancel</h4>
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>
{%endblock %}