{% extends "layout.html" %}
{% block title %}Create Event{% endblock %}

{% block content %}
<div>
    <h3 class="subtitle"> Add New Event </h3>
    <form method="post">
        {% csrf_token %}
        <div class="row pt-4 mb-2">
            {% for field in form %}
                <div class="col-md-6 harvestly-form-item">
                    <div>{{ field.label }}</div>
                    <div class="mb-1">{{ field }}</div>
                </div>
            {% endfor %}
        </div>       
        <a class="harvestly-nav-btn-secondary" href="{% url 'events' %}">Cancel</a> 
        <input class="harvestly-nav-btn-primary" type="submit" value="Add Event" />
    </form>
</div>
{% endblock %}