{% extends "layout.html" %}
{% block title %}Update {{ event.name }}{% endblock %}

{% block content %}

<div id="main">
    <div class="update-title"><strong>Edit {{ event.name }}</strong></div>
    <form method="post">
        <div id="main" style="background-color: black;"></div>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update" />
        </div>
        </form>
</div>
<a href="{% url 'events' %}"><button>Back</button></a>
<a href="{% url 'event-delete' event.id %}"><button>Delete</button></a>
{% endblock %}