
{% extends "layout.html" %}
{% block title %}Events{% endblock %}

{% block content %}
<div id="main">
    {% if eventlist %}
        <h1>EVENTS LIST</h1>
        <!-- hard coded events list 
        will look something like:
        { % for event in eventlist % }
            <li>
                <div class="event-title"><strong>{{ event.name }}</strong></div>
                    <div class="event-location">Location: {{ event.location }}</div>
                    <div class="event-date">Date: {{ event.date }}</div>
                    <div class="event-start-time">Start time: {{ event.start_time }}</div>
                    <div class="event-end-time">End time: {{ event.end_time }}</div>
            </li>
        { % endfor % }
        -->
        <div class="event-title"><strong>Farmers Market 1</strong></div>
            <div class="event-location">Location: Location 1</div>
            <div class="event-date">Date: 11/10/2023</div>
            <div class="event-start-time">Start Time: 8:00 AM</div>
            <div class="event-end-time">End Time: 2:00 PM</div>
        <div class="event-title"><strong>Farmers Market 2</strong></div>
            <div class="event-location">Location: Location 2</div>
            <div class="event-date">Date: 11/15/2023</div>
            <div class="event-start-time">Start Time: 12:00 PM</div>
            <div class="event-end-time">End Time: 5:00 PM</div>
        <div class="event-title"><strong>Farmers Market 3</strong></div>
            <div class="event-location">Location: Walmart Parking Lot</div>
            <div class="event-date">Date: 04/20/2024</div>
            <div class="event-start-time">Start Time: 12:00 AM</div>
            <div class="event-end-time">End Time: 2:00 AM</div>
    {% else %}
        <h1>NO EVENTS</h1>
    {% endif %}
</div>
{% endblock %}