{% extends "layout.html" %}
{% block title %}Events{% endblock %}

{% block content %}

<div>
    <a class="harvestly-nav-btn-primary mb-3" href="{% url 'event-create'%}">
        <h2 class="p-2 mb-0">Create Event</h2>
    </a>
    {% if eventlist %}
        <h1>Upcoming Events</h1>
        {% for event in eventlist %}
            <li>
                <div class="event-title"><strong>{{ event.name }}</strong></div>
                <div class="event-date">{{ event.start_time|date:"F j, Y" }}</div>
                <td><a class="harvestly-nav-btn-primary" href="{% url 'event-detail' event.id %}">See More</a></td>
            </li>
        {% endfor %}
    {% else %}
        {% include "empty_list.html" with items="events" %}
    {% endif %}
</div>
{% endblock %}