<!DOCTYPE html>

<html lang="en">
    <head>
        {% load static %}
        <title> {% block title %}{% endblock %} </title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!-- Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">

        <!-- Bootstrap css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-md navbar-light harvestly-navbar">
            <a class="navbar-brand" href="{% url 'index' %}">Harvestly (logo soon)</a>
            
            <button 
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#harvestlyNavBarCollapse"
                aria-controls="harvestlyNavBarCollapse" 
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="harvestlyNavBarCollapse">
                <ul class="navbar-nav ml-auto harvestly-nav">
                    <li>
                        <a href="{% url 'events-list' %}" class="harvestly-nav-button">events</a>
                    </li>
                    <li>
                        <a class="harvestly-nav-button">some link</a>
                    </li>
                    <li>
                        <a class="harvestly-nav-button">some link</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- Page  -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://github.com/SamuelAdamson">Samuel ↱</a>
                    </div>
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://github.com/veckertUCCS">Victor ↱</a>
                    </div>
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://github.com/kshry">Keegan ↱</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://github.com/mgibbon2">Matthew ↱</a>
                    </div>
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://github.com/jesroberts101">Jesse ↱</a>
                    </div>
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://github.com/eander17">Evan ↱</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://uccs.edu">UCCS ↱</a>
                    </div>
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://eas.uccs.edu/">EAS ↱</a>
                    </div>
                    <div class="row">
                        <a class="harvestly-nav-button" href="https://coloradosprings.gov/">COS ↱</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap js (and dependencies) -->
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>